.best-product__container {
  display: grid;
  padding-top: 32px;
  padding-bottom: 42px;

  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    padding-top: 41px;
    padding-bottom: 68px;

    gap: 38px 42px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1150px) {
    position: relative;

    padding: 60px 50px 94px 225px;

    background: none;

    gap: 35px 60px;
    grid-template-columns: 1fr 525px;
  }
}

.best-product__title-container {
  @media (min-width: 768px) {
    display: grid;
    align-items: center;

    gap: 10px;
    grid-column: 1/-1;
    grid-template-columns: 1fr 125px;
  }

  @media (min-width: 1150px) {
    padding-top: 62px;

    grid-row: 1 / span 1;
  }
}

.best-product__title {
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 1150px) {
    position: relative;
    z-index: 1;
  }
}

.best-product__type {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: 768px) {
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: 1150px) {
    position: absolute;
    top: 130px;
    left: 82px;

    max-width: 100px;
  }
}

.best-product__description {
  padding-top: 10px;
  padding-bottom: 28px;

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.best-product__description p {
  margin: 0;

  line-height: 24px;

  @media (min-width: 768px) {
    line-height: 30px;
  }
}

.best-product__list {
  display: grid;
  padding-top: 18px;

  line-height: 20px;

  grid-template-columns: 98px 1fr;

  @media (min-width: 768px) {
    padding-top: 38px;

    font-size: 15px;
  }

  @media (min-width: 1150px) {
    padding-top: 56px;
  }
}

.best-product__item {
  margin: 0;
  padding: 10px 0;

  border-bottom: 1px solid #ececec;

  @media (min-width: 1150px) {
    padding: 5px 0 14px;
  }
}

.best-product__image {
  background-color: grey;
  width: 100%;
  max-width: 350px;
  height: 315px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 334px;
    height: 404px;
    margin-top: 12px;

    grid-column: span 1/-1;
    grid-row: 2 / span 2;
  }

  @media (min-width: 1150px) {
    width: 525px;
    max-width: 100%;
    height: 636px;
    margin: 0;

    grid-row: 1 / span 3;
  }
}

.best-product__image img {
  display: block;
  width: 100%;
  height: 100%;

  object-position: center bottom;
}

.best-product__price-container {
  order: 1;
  padding-top: 10px;

  @media (min-width: 768px) {
    padding-top: 18px;
  }

  @media (min-width: 1150px) {
    padding-top: 73px;
  }
}

.best-product__price {
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 33px;

    font-size: 20px;
    line-height: 24px;
  }
}

.best-product::after {
  content: "";
  display: block;
  height: 7px;
  margin: 0;
  padding: 0;
  background-image: url(img/sprite/zigzag-line-desktop.svg);
  background-repeat: repeat-x;
  background-size: 319px 100%;
  transform: rotate(180deg);
}
