.products {
  padding: 30px;
  margin: 0;
}

.products__container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.products__list {
  display: flex;
  flex-direction: column;
}

.video__container {
  padding: 30px 30px 58px 30px;
  display: flex;
  flex-direction: column;
}
