.products {
  padding-top: 30px;

  @media (min-width: 768px) {
    padding-top: 67px;
  }

  @media (min-width: 1150px) {
    padding-top: 112px;
  }
}


.products__list {
  display: grid;

  gap: 30px;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    gap: 54px;
  }

  @media (min-width: 1150px) {
    gap: 51px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.products__item {
  @media (min-width: 768px) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.products__image {
  display: block;
  height: 195px;

  @media (min-width: 768px) {
    height: 334px;
  }

  @media (min-width: 1150px) {
    height: 462px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:focus {
      outline: none;
    }
  }
}

.products__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.products__list-container {
  padding: 28px 28px 25px;

  border: 1px solid #ececec;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 27px 33px 25px;
  }

  @media (min-width: 1150px) {
    // height: 100%;
    padding: 27px 27px 25px;
  }
}

.products__item:hover .products__list-container,
.products__item:focus-within .products__list-container {
  @media (hover: hover), screen and (min-width: 0\0) {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}


.products__title {
  text-decoration: none;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.products__title h3 {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.products__item-desc {
  margin-top: 5px;
  margin-bottom: 17px;

  font-size: 13px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 12px;
  }
}

.products__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 23px;

  border-top: 1px solid #ececec;

  @media (min-width: 768px) {
    margin-top: auto;
  }
}

.products__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}



.products__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 19px;

  color: rgba($color: #000000, $alpha: 0.2);

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: #63d1bb;

      outline: none;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.products__cart svg {
  width: 100%;
  height: 100%;

  fill: currentColor;
}
