.first-screen {
  background: #F1F1F1;
  position: relative;
}


.first-screen--home {
  position: relative;

  background-image: url("/img/header-img.jpg");
  background-repeat: no-repeat;
  background-position: center top -17px;

  @media (min-width: 768px) {
    background-image: url("/img/header-desktop.jpg");
    background-position: center bottom 11px;
  }

  @media (min-width: 1150px) {
    background-image: url("/img/header-desktop.jpg");
  }
}

/*
  .first-screen__buttons-item {
  position: relative;

  display: block;
  padding: 24px 115px 31px 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  background-color: #63d1bb;
}

.first-screen__buttons-item:nth-child(2n) {
  background-color: #56c3b2;
}
*/


.button--toy {
  background-color: #63D1BB;
}

.button--interior {
  background-color: #56C3B2;
}

.first-screen__container {
  padding-top: 70px;
  padding-bottom: 250px;
}

