.footer {
  background-color: #f1f1f1;
}

.footer__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__logo {
  position: relative;
  display: none;
}
