.products {
  padding-top: 30px;
}

.products__container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;

}

.products__list {
  display: flex;
  flex-direction: column;
}

.products__item {
  margin-bottom: 30px;
}
