.video {
  padding: 30px 30px 58px;

  @media (min-width: $tablet-width) {
    padding: 53px 50px 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 104px;
  }
}

.video__container {
  display: grid;
  margin: 0 auto;

  border: 1px solid #ececec;

  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    max-width: 1048px;
    padding: 0;

    gap: 17px 59px;
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto 1fr;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus-within {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__container:hover .catalog__list-container,
.video__container:focus-within .catalog__list-container {
  @media (hover: hover), screen and (min-width: 0\0) {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  order: -1;
  margin: 0;
  padding: 23px 15px 25px 90px;

  font-size: 17px;
  line-height: 24px;
  color: #000000;

  background-image: url("../img/svg/icon-video.svg");
  background-repeat: no-repeat;
  background-position: left 32px center;

  @media (min-width: $tablet-width) {
    order: 0;
    padding: 41px 15px 5px 105px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 95px 50px 5px 20px;

    background-position: top 45px left 20px;
  }
}

.video__image {
  position: relative;

  height: 150px;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 453px;

    grid-row: 1 / span 2;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 101px;
  height: 77px;

  background-image: url("../img/svg/icon-play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      outline: none;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.video__desc {
  padding: 22px 32px 32px;

  @media (min-width: $tablet-width) {
    padding: 5px 41px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 20px 45px;
  }
}

.video__text {
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 51px;
  }
}

.video__button {
  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
