*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
  color: #000000;
}
