*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  min-width: 320px;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;

  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}


.title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}

.button {
  display: block;
  width: 100%;
  padding: 14px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 15px 20px 13px;

    font-size: 17px;
  }
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
