$font-family: "Open Sans", "Arial", sans-serif;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width-1: 1149px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
